# Environment & Secret files
.env
.env.local

# Virtual environments
.venv/
env/
venv/
ENV/

# Python byte-code & caches
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
pip_install.log

# Uploaded resumes / local files
uploads/*
!uploads/.gitkeep
data/

# IDE & Editor files
*.code-workspace
.vscode/
.idea/

# Vercel build output
.vercel/
